/*Tamaño hoja carta  21.59 x 27.94 centimetros*/
.body{
    height: 27.94cm;
    width: 21.59cm;
    margin: auto;
    font-family: 'Rokkitt', serif;
}

.head{
    background-color: #20C3B4;
    height: 3cm;/*10% del alto de la hoja carta*/
    line-height: 3cm;
}

.main{
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column{
    width: 29%;
    float: left;
}

.column-left{
    padding-left: 12px;
    padding-right: 15px;
    margin-right: 15px;
}
.column-right{
    margin-left: 10px;
}
.column-center{
    padding-right: 22px;
    padding-left:  15px;
    margin-right: 1px;
    border-left:  solid #EFEFEF;
    border-right: solid #EFEFEF;
    border-width: 2px;
}

.item{
    background-color: #F3F3F3;
    width: 100%;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 7px;
    float: left;
}

.item-title{
    background-color: #626262;
    color: white;
    padding-bottom: 5px;
}

.last-item{
    padding-bottom: 10px;
}

.separator{
    height: 2px;
    background-color: white;
}


.photo{
    height: 6.98cm;
    background-color: #20C3B4;
    width: 100%;
}

.white-text{
    color: #fff;
}

.grey-text{
    color: #626262;
}

.greyDark-text{
    color:#3E3D3B;
}

.separator{
    height: 9px;
}

.bold{
    font-weight: bold;
}

.icon-background{
    color: #626262;
}

.left{
    float: left;
}

.right{
    float: right;
}

.subcat{
    padding-left: 15px;
}

.brackets{
    font-size: 75px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.dots{
    float: left;
    font-size: 20px;
    display: inline;
}

.name{
    font-size: 50px;
}

.profession{
    font-size: 19px;
    margin-top: -95px;
}

.square{
    color: white;
}


hr{
    color:#D9D9D9;
    background-color: #D9D9D9;
    margin: 0.1em auto;
}

progress {
    background-color: #22C3B4;
    border: 0;
    height: 10px;
}

progress::-webkit-progress-bar {
    background-color: #626262;
    border: 0;
    height: 10px;
}
progress::-moz-progress-bar {
    background-color: #626262;
    border: 0;
    height: 10px;
}

progress::-webkit-progress-value {
    background-color: #22C3B4;
}

.small {
    line-height: 1%;
}

.MyTitle{
    margin-left: 140px;
}

a{ word-wrap:break-word
}

